<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <p>Turnout for the 2014 general election.</p>

    <div class="component-label">Voter turnout for the 2014 general election</div>

    <ul class="legend-container">
      {{#legend}}
        <li><span class="legend-swatch" style="background-color: {{ color }}"></span> <span class="legend-label">{{ label }}</span></li>
      {{/legend}}
    </ul>

    <div class="map" id="voter-turnout-2014"></div>
  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-voter-turnout-map-2014" target="_blank">Github</a>.</p>

        <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.</p>

    </div>
  </div>
</div>
