<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="component-label">Turnout of voting-age population for the 2014 general election</div>

    <div class="caption">Rate is calculated by dividing ballots cast by estimated number of citizens who are 18 years and older&dagger;.</div>

    <ul class="legend-container small">
      {{#legendTurnout}}
        <li><span class="legend-swatch" style="background-color: {{ color }}"></span> <span class="legend-label">{{ label }}</span></li>
      {{/legend}}
    </ul>

    <div class="map" id="voter-turnout-2014"></div>



    <div class="component-label">Voters per those registered for the 2014 general election</div>

    <div class="caption">Rate calculated by dividing ballots cast by estimated number of people registered as of the morning of election day, November 4th, 2015.</div>

    <ul class="legend-container small">
      {{#legendRegistered}}
      <li><span class="legend-swatch" style="background-color: {{ color }}"></span> <span class="legend-label">{{ label }}</span></li>
      {{/legend}}
    </ul>

    <div class="map" id="voter-turnout-registered-2014"></div>
  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>&dagger;Per the Minnesota Secretary of State, "Minnesota's statewide turnout is officially reported using the eligible voter estimate from the United States Elections Project, which more accurately accounts for all eligibility factors. The data [provided] does not take into account some eligibility factors, and so varies slightly from the official statewide number. For comparison, 2014 statewide turnout is officially 50.51%, versus 51.29% using the data below.  Registration rate data based on number of registrations by start of voting on Election Day, November 4, 2014. It does not include voters who registered on Election Day."</p>

      <p>Voter data from the <a href="http://www.sos.state.mn.us/Modules/ShowDocument.aspx?documentid=14558" target="_blank">MN Secretary of State's office</a>.  County boundaries from the <a href="http://www.gis.leg.mn/html/download.html" target="_blank">MN State Legislative Coordinating Commission GIS department</a>.</p>

      <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.</p>

      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-voter-turnout-map-2014" target="_blank">Github</a>.</p>
    </div>
  </div>
</div>
